@font-face { src:url("../z_Dependencies/Fonts/BebasNeue.otf"); font-family: "Bold"; }
@font-face { src:url("../z_Dependencies/Fonts/BebasNeue.otf"); font-family: "Condensed"; }

body {
	width: 1920px;
	height: 1080px;
	margin: 0px;
	padding: 0px;
	font-family: "Condensed";
	color: #FFFFFF;
	text-transform: uppercase;
}

.Icon_Container {
	position: absolute;
	left: 0px;
	width: 40px;
	height: 50px;
	z-index: 2;
	opacity: 0;
}

.Country {
	position: absolute;
	top: 11px;
	height: 50px;
}

.Character {
	position: absolute;
	height: 32px;
	width: 70px;
	z-index: 2;
	opacity: 0;
}

.Hidden {
	display:none;
}

#Score_One, #Score_Two {
	position: absolute;
	width: 47px;
	text-align: center;
	font-size: 75px;
	line-height: 50px;
	height: 50px;
	font-family: "Bold";
	opacity: 0;
	text-shadow: 
		-1px -1px 0 #000000,
		2px -1px 0 #000000,
		-1px 2px 0 #000000,
		2px 2px 0 #000000,  
		-2px 0 0 #000000,
		3px 0 0 #000000,
		0 3px 0 #000000,
		0 -2px 0 #000000;
}

#Score_One {
	top: 263px;
	color: #FFFFFF;
	font-size: 55px;
	left: 1415px;
}
#Score_Two {
	top: 560px;
	color: #FFFFFF;
	font-size: 55px;
	left: 1415px;
}

#Commentator_One { 
	position: absolute;
	font-family: "Bold";
	width: 170px;
	height: 38px;
	bottom: 65px;
	line-height: 28px;
	font-size: 45px;
	text-align: center;
	z-index: 2;
	right: 300px;
	opacity: 0;
	color: #FFFFFF; 
	text-shadow: 
		-1px -1px 0 #000000,
		2px -1px 0 #000000,
		-1px 2px 0 #000000,
		2px 2px 0 #000000,  
		-2px 0 0 #000000,
		3px 0 0 #000000,
		0 3px 0 #000000,
		0 -2px 0 #000000;
}
#Commentator_Two {
	position: absolute;
	font-family: "Bold";
	width: 170px;
	height: 38px;
	bottom: 15px;
	line-height: 28px;
	font-size: 25px;
	text-align: center;
	z-index: 2;
	right: 300px;
	opacity: 0;
	color: #FFFFFF; 
	text-shadow: 
		-1px -1px 0 #000000,
		2px -1px 0 #000000,
		-1px 2px 0 #000000,
		2px 2px 0 #000000,  
		-2px 0 0 #000000,
		3px 0 0 #000000,
		0 3px 0 #000000,
		0 -2px 0 #000000;
}

#Icon_Container_One {
	top: 0px;
	left: 0px;
}

#Icon_Container_Two {
	top: 0px;
	right: 0px;
}

#Character_One {
	top: 140px;
	right: 140px;
}

#Character_Two {
	top: 438px;
	right: 140px;
}

#Country_One {
	top: 85px;
	left: 1810px;
}

#Country_Two {
	top: 385px;
	left: 1810px;
}

#Player_One {
	position: absolute; 
	top: 263px;
	left: 1695px; 
	height: 67px; 
	line-height: 50px; 
	width: 180px; 
	font-size: 55px;
	z-index: 3; 
	opacity: 0;
	text-align: center; 
    text-shadow: 
		-1px -1px 0 #000000,
		2px -1px 0 #000000,
		-1px 2px 0 #000000,
		2px 2px 0 #000000,  
		-2px 0 0 #000000,
		3px 0 0 #000000,
		0 3px 0 #000000,
		0 -2px 0 #000000;
}

#Player_Two {
	position: absolute; 
	top: 561px;
	left: 1695px; 
	height: 67px; 
	line-height: 50px; 
	width: 180px; 
	font-size: 55px; 
	z-index: 3; 
	opacity: 0;
	text-align: center;
    text-shadow: 
		-1px -1px 0 #000000,
		2px -1px 0 #000000,
		-1px 2px 0 #000000,
		2px 2px 0 #000000,  
		-2px 0 0 #000000,
		3px 0 0 #000000,
		0 3px 0 #000000,
		0 -2px 0 #000000;
}

#Port_One { 
    position: absolute; 
	top: 95px;
	left: 1680px; 
	height: 45px; 
	line-height: 50px; 
	width: 200px; 
	font-size: 30px; 
	z-index: 3; 
	opacity: 0;
	text-align: center;
    color: #1C49E4;
    text-shadow: 
		-1px -1px 0 #000000,
		2px -1px 0 #000000,
		-1px 2px 0 #000000,
		2px 2px 0 #000000,  
		-2px 0 0 #000000,
		3px 0 0 #000000,
		0 3px 0 #000000,
		0 -2px 0 #000000;
}

#Port_Two { 
    position: absolute; 
	top: 395px;
	left: 1680px; 
	height: 45px; 
	line-height: 50px; 
	width: 200px; 
	font-size: 30px; 
	z-index: 3; 
	opacity: 0;
	text-align: center;
    color: #00B716;
    text-shadow: 
		-1px -1px 0 #000000,
		2px -1px 0 #000000,
		-1px 2px 0 #000000,
		2px 2px 0 #000000,  
		-2px 0 0 #000000,
		3px 0 0 #000000,
		0 3px 0 #000000,
		0 -2px 0 #000000;
}
    
#Round1 {
	position: absolute; 
	font-family: "Bold"; 
	width: 200px; 
	height: 38px; 
	bottom: 160px;
	line-height: 28px;
	font-size: 40px;
	text-align: center;
	z-index: 2;
	right: 305px;
	opacity: 0;
	color: #FFFFFF;
	text-shadow: 
		-1px -1px 0 #000000,
		2px -1px 0 #000000,
		-1px 1px 0 #000000,
		2px 2px 0 #000000,  
		-2px 0 0 #000000,
		3px 0 0 #000000,
		0 3px 0 #000000,
		0 -2px 0 #000000;
}

#Logo {
	position: absolute;
	width: 320px;
	height: 215px;
	top: 0px;
	z-index: 4;
	left: 0px;
	opacity: 0;
}

#Breaking_News_Wrapper {
	position: absolute;
	font-size: 40px;
	top: 5px;
	z-index: 4;
	right: 550px;
	opacity: 1;
	height: 50px;
	width: 650px;
	text-align: left;
	color: #FFFFFF;
    text-shadow: 
		-1px -1px 0 #000000,
		2px -1px 0 #000000,
		-1px 2px 0 #000000,
		2px 2px 0 #000000,  
		-2px 0 0 #000000,
		3px 0 0 #000000,
		0 3px 0 #000000,
		0 -2px 0 #000000;
}