@font-face { src:url("../z_Dependencies/Fonts/BebasNeue.otf"); font-family: "Bold"; }
@font-face { src:url("../z_Dependencies/Fonts/BebasNeue.otf"); font-family: "Condensed"; }

body {
	width: 1920px;
	height: 1080px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-family: "Condensed";
	color: #FFFFFF;
	text-transform: uppercase;
}

.Icon_Container {
	position: absolute;
	left: 0px;
	width: 40px;
	height: 50px;
	z-index: 2;
	opacity: 0;
}

.Country {
	position: absolute;
	top: 11px;
	height: 50px;
}

.Character {
	position: absolute;
	height: 32px;
	width: 70px;
	z-index: 2;
	opacity: 0;
}

.Hidden {
	display:none;
}

#Score_One, #Score_Two {
	position: absolute;
	width: 47px;
	text-align: center;
	font-size: 48pt;
	line-height: 50px;
	height: 50px;
	font-family: "Bold";
	opacity: 0;
	text-shadow: 
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
		1px 1px 0 #000000,  
		-2px 0 0 #000000,
		2px 0 0 #000000,
		0 2px 0 #000000,
		0 -2px 0 #000000;
}

#Score_One {
	top: 243px;
	color: #FFFFFF;
	font-size: 48px;
	left: 1420px;
}
#Score_Two {
	top: 540px;
	color: #FFFFFF;
	font-size: 48px;
	left: 1420px;
}

#Commentator_One { 
	position: absolute;
	font-family: "Bold";
	width: 170px;
	height: 38px;
	bottom: 85px;
	line-height: 28px;
	font-size: 42px;
	text-align: center;
	z-index: 2;
	right: 300px;
	opacity: 0;
	color: #FFFFFF; 
	text-shadow: 
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
		1px 1px 0 #000000,  
		-2px 0 0 #000000,
		2px 0 0 #000000,
		0 2px 0 #000000,
		0 -2px 0 #000000;
}
#Commentator_Two {
	position: absolute;
	font-family: "Bold";
	width: 170px;
	height: 38px;
	bottom: 35px;
	line-height: 28px;
	font-size: 42px;
	text-align: center;
	z-index: 2;
	right: 300px;
	opacity: 0;
	color: #FFFFFF; 
	text-shadow: 
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
		1px 1px 0 #000000,  
		-2px 0 0 #000000,
		2px 0 0 #000000,
		0 2px 0 #000000,
		0 -2px 0 #000000;
}

#Icon_Container_One {
	top: 0px;
	left: 0px;
}

#Icon_Container_Two {
	top: 0px;
	right: 0px;
}

#Character_One {
	top: 95px;
	right: 150px;
}

#Character_Two {
	top: 393px;
	right: 150px;
}

#Country_One {
	top: 45px;
	left: 1810px;
}

#Country_Two {
	top: 345px;
	left: 1810px;
}

#Player_One {
	position: absolute; 
	top: 239px;
	left: 1675px; 
	height: 67px; 
	line-height: 50px; 
	width: 195px; 
	font-size: 42px;
	z-index: 3; 
	opacity: 0;
	text-align: center; 
    text-shadow: 
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
		1px 1px 0 #000000,  
		-2px 0 0 #000000,
		2px 0 0 #000000,
		0 2px 0 #000000,
		0 -2px 0 #000000;
}

#Player_Two {
	position: absolute; 
	top: 537px;
	left: 1675px; 
	height: 67px; 
	line-height: 50px; 
	width: 195px; 
	font-size: 42px; 
	z-index: 3; 
	opacity: 0;
	text-align: center;
    text-shadow: 
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
		1px 1px 0 #000000,  
		-2px 0 0 #000000,
		2px 0 0 #000000,
		0 2px 0 #000000,
		0 -2px 0 #000000;
}
    
#Round1 {
	position: absolute; 
	font-family: "Bold"; 
	width: 200px; 
	height: 38px; 
	bottom: 180px;
	line-height: 28px;
	font-size: 42px;
	text-align: center;
	z-index: 2;
	right: 305px;
	opacity: 0;
	color: #FFFFFF;
	text-shadow: 
		-1px -1px 0 #000000,
		1px -1px 0 #000000,
		-1px 1px 0 #000000,
		1px 1px 0 #000000,  
		-2px 0 0 #000000,
		2px 0 0 #000000,
		0 2px 0 #000000,
		0 -2px 0 #000000;
}

#Logo {
	position: absolute;
	width: 320px;
	height: 215px;
	top: 0px;
	z-index: 4;
	left: 0px;
	opacity: 0;
}
